@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&family=Orbitron:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #F4B400;
  --color-primary-hover: #E0A000;
  --color-primary-active: #C98F00;
  --color-secondary: #D5C2A1;
  --color-secondary-hover: #C2A98E;
  --color-background: #18140F;
  --color-background-accent: #3E2C1C;
  --color-secondary-background: #2A1A10;
  --color-tertiary-background: #3B2415;
  --color-primary-border: #6B4F36;
  --color-prominent-light: #E7D7C1;
  --color-muted-white: #B8A899;
  --color-cart-button: #F5D67A;
  --color-cart-hover: #E9B949;
  --color-cart-active: #D89A29;
  --color-spicy-red: #D72638;
  --color-spicy-red-hover: #B61C2B;
  --color-spicy-red-active: #9E1823;
}


body {
  font-family: "Bai Jamjuree", sans-serif;
}

h1, h2, h3 {
  font-family: "Orbitron", sans-serif;
}
