@import "tailwindcss";

@theme {
  --color-primary: #F4B400;
  --color-background: #18140F;
  --color-background-accent: #3E2C1C;
  --color-card-background: #E7D7C1;
  --color-navbar: #3B2415;
  --color-cart-button: #5A3A24;
  --color-cart-hover: #6B472B;
  --color-cart-active: #7C5232;
  --color-spicy-red: #D72638;
}

@layer utilities {
  .bg-gradient-theme {
    background: linear-gradient(to bottom, var(--background), var(--background-accent));
  }
}
